<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Gamedex</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- styles -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://static.t-minuszero.com/css/bootstrap.css">
		<link rel="stylesheet" media="screen" href="http://static.t-minuszero.com/css/tmz.css">
		<link rel="stylesheet" href="http://static.t-minuszero.com/css/chosen.css">
		<link rel="stylesheet" href="http://static.t-minuszero.com/css/nanoscroller.css">
		<link rel="stylesheet" href="http://static.t-minuszero.com/css/jquery.ui.stars.min.css">
		<link rel="stylesheet" href="http://static.t-minuszero.com/css/isotope.css">

		<link rel="shortcut icon" href="http://static.t-minuszero.com/images/favicon.ico">

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28923926-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>

	</head>
	<body class="infoHeader">

		<!-- PRODUCT DESCRIPTION MODAL CONTAINERS -->
		<div id="giantBombDescription-modal" class="modal hide"></div>
		<div id="amazonDescription-modal" class="modal hide"></div>

		<!-- FILTERS MODAL -->
		<div id="filters-modal" class="modal hide">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>List Filters</h3>
			</div>
			<div class="modal-body">

				<form class="form-horizontal">
				    <fieldset>

						<!-- platform filter -->
						<div class="control-group">
							<label class="control-label">Platform Filter</label>
							<div class="controls">
								<div id="platform_filter">
									<select id="platformFilterList" data-placeholder="Select Platform:" class="chzn-select" multiple style="width:250px;" tabindex="2">
										<optgroup label="Computer">
											<option value="pc">PC</option>
											<option value="mac">Mac</option>
										</optgroup>
										<optgroup label="Microsoft">
											<option value="x360">Xbox 360</option>
										</optgroup>
										<optgroup label="Sony">
											<option value="ps3">PS3</option>
											<option value="vita">Vita</option>
											<option value="psp">PSP</option>
										</optgroup>
										<optgroup label="Nintendo">
											<option value="ds">DS</option>
											<option value="3ds">3DS</option>
											<option value="wii">Wii</option>
										</optgroup>
										<optgroup label="Legacy">
											<option value="ps">Playstation</option>
											<option value="ps2">PlayStation 2</option>
											<option value="xbox">Xbox</option>
											<option value="gc">Gamecube</option>
											<option value="n64">N64</option>
											<option value="snes">SNES</option>
											<option value="nes">NES</option>
											<option value="gba">GBA</option>
											<option value="gbc">Gameboy Color</option>
											<option value="gb">Gameboy</option>
											<option value="dc">Sega Dreamcast</option>
											<option value="saturn">Sega Saturn</option>
											<option value="genesis">Sega Genesis</option>
											<option value="gamegear">Sega GameGear</option>
											<option value="cd">Sega CD</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>

				    	<!-- release date filter -->
						<div class="control-group">
							<label class="control-label">Release Date Filter</label>
							<div class="controls">
								<div id="releaseDate_filter" data-toggle="buttons-checkbox" class="btn-group">
									<button class="btn" data-content="0">Unreleased</button>
									<button class="btn" data-content="1">Released</button>
								</div>
							</div>
						</div>

						<!-- game status filter -->
						<div class="control-group">
							<label class="control-label">Game Status Filter</label>
							<div class="controls">
								<div id="gameStatus_filter" data-toggle="buttons-checkbox" class="btn-group">
									<button class="btn" data-content="0">None</button>
									<button class="btn" data-content="1">Own</button>
									<button class="btn" data-content="2">Sold</button>
									<button class="btn" data-content="3">Wanted</button>
								</div>
							</div>
						</div>

						<!-- play status filter -->
						<div class="control-group">
							<label class="control-label">Play Status Filter</label>
							<div class="controls">
								<div id="playStatus_filter" data-toggle="buttons-checkbox" class="btn-group">
									<button class="btn" data-content="0">Not Started</button>
									<button class="btn" data-content="1">Playing</button>
									<button class="btn" data-content="2">Played</button>
									<button class="btn" data-content="3">Finished</button>
								</div>
							</div>
						</div>

						<!-- metascore filter -->
						<div class="control-group">
							<label class="control-label">Metascore Filter</label>
							<div class="controls">
								<div id="metascore_filter" data-toggle="buttons-checkbox" class="btn-group">
									<button class="btn" data-content="0">90s</button>
									<button class="btn" data-content="1">80s</button>
									<button class="btn" data-content="2">70s</button>
									<button class="btn" data-content="3">60s</button>
									<button class="btn" data-content="4">50s</button>
									<button class="btn" data-content="5">49-25</button>
									<button class="btn" data-content="6">24-0</button>
								</div>
							</div>
						</div>

					</fieldset>
				</form>

			</div>
			<div class="modal-footer">
				<button id="applyFilters_btn" href="#" class="btn btn-primary" data-dismiss="modal">Apply Filters</button>
				<button id="cancelFilters_btn" href="#" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</div>

		<!-- SITE CONTAINER -->
		<div id="wrapper" class="standardView">

			<!-- HEADER -->
			<div id="infoHeader">
				<div id="logo"></div>
				<div id="siteDescription"></div>
				<div id="siteFeatures"></div>
				<div id="signupButton"></div>
				<div id="loginButton"></div>
				<div id="loginForm">
					<form>
						<div id="email"><input type="text"></div>
						<div id="password"><input type="password"></div>
						<div id="signupSubmitButton"></div>
						<div id="loginSubmitButton"></div>
						<div id="backButton"></div>
					</form>
				</div>
			</div>

			<!-- HEADER -->
			<div id="header" class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">

						<div class="miniLogo"></div>

						<!-- RIGHT HEADER -->
						<div class="pull-right">
							<div id="userMenu" class="btn-group" data-content="0" data-toggle="dropdown" style="display: block; ">
								<a id="loggedInButton" class="btn" data-keyboard="true"><span class="userEmail"></span></a>
								<a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
								<ul class="dropdown-menu pull-right">
									<li><a href="#" id="logoutButton"><i class="icon-off"></i> Logout</a></li>
									<li><a href="#" id="managementButton"><i class="icon-list-alt"></i> Account Management</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- CONTENT -->
			<div id="content">

				<!-- SEARCH PANEL -->
				<div id="panel1">
					<div class="header"></div>
					<div class="panel">


						<!-- SEARCH CONTAINER -->
						<div id="searchContainer">

							<div id="providerContainer">

								<!-- SEARCH SELECT -->
								<div id="searchProvider" class="btn-group" data-content="0" data-toggle="dropdown">
									<a class="providerSelect_btn btn" data-keyboard="true"><span class="providerName">Amazon.com</span></a>
									<a class="dropdown_btn btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#" data-content="0">Amazon.com</a></li>
										<li><a href="#" data-content="1">GiantBomb.com</a></li>
									</ul>
								</div>

								<!-- LIST SELECT -->
								<div id="listProvider" class="btn-group" data-content="1">
									<a class="providerSelect_btn btn" data-keyboard="true" data-toggle="dropdown"><span class="providerName">Popular Games</span></a>
									<a class="dropdown_btn btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="#" data-content="1">Upcoming</a></li>
										<li><a href="#" data-content="0">Popular</a></li>
									</ul>
								</div>

							</div>


							<!-- PLATFORM SELECT -->
							<div id="platformContainer">
								<select data-placeholder="Select Platform:" class="platformList chzn-select" style="width:145px;" tabindex="2">
									<option value="all">All platforms</option>
									<optgroup label="Computer">
										<option value="pc">PC</option>
										<option value="mac">Mac</option>
									</optgroup>
									<optgroup label="Microsoft">
										<option value="x360">Xbox 360</option>
									</optgroup>
									<optgroup label="Sony">
										<option value="ps3">PS3</option>
										<option value="vita">Vita</option>
										<option value="psp">PSP</option>
									</optgroup>
									<optgroup label="Nintendo">
										<option value="ds">DS</option>
										<option value="3ds">3DS</option>
										<option value="wii">Wii</option>
									</optgroup>
									<optgroup label="Legacy">
										<option value="ps">Playstation</option>
										<option value="ps2">PlayStation 2</option>
										<option value="xbox">Xbox</option>
										<option value="gc">Gamecube</option>
										<option value="n64">N64</option>
										<option value="snes">SNES</option>
										<option value="nes">NES</option>
										<option value="gba">GBA</option>
										<option value="gbc">Gameboy Color</option>
										<option value="gb">Gameboy</option>
										<option value="dc">Sega Dreamcast</option>
										<option value="saturn">Sega Saturn</option>
										<option value="genesis">Sega Genesis</option>
										<option value="gamegear">Sega GameGear</option>
										<option value="cd">Sega CD</option>
									</optgroup>
								</select>
							</div>

							<!-- COMMON PLATFORM SELECT -->
							<div id="commonPlatformContainer">
								<select data-placeholder="Select Platform:" class="platformList chzn-select" style="width:145px;" tabindex="2">
									<optgroup label="Computer">
										<option value="pc">PC</option>
									</optgroup>
									<optgroup label="Microsoft">
										<option value="x360">Xbox 360</option>
										<option value="xbl">Xbox Live</option>
									</optgroup>
									<optgroup label="Sony">
										<option value="ps3">PS3</option>
										<option value="psn">PSN</option>
										<option value="vita">Vita</option>
									</optgroup>
									<optgroup label="Nintendo">
										<option value="ds">DS</option>
										<option value="3ds">3DS</option>
										<option value="wii">Wii</option>
									</optgroup>
								</select>
							</div>

							<div class="clear"></div>


							<!-- SEARCH FIELD -->
							<div id="search" class="form-horizontal">
								<input id="search_field" type="text" class="span2" value="skyrim">
								<button id="search_btn" class="btn btn-success" type="submit"><i class="icon-search icon-white"></i> Search</button>
							</div>

							<!--- SEARCH DISPLAY OPTIONS -->
							<div class="searchDisplayOptions displayOptions btn-group" data-toggle="buttons-radio" >
								<button class="btn btn-dark" data-content="0" data-toggle="button" rel="tooltip" data-original-title="List View"><i class="icon-list icon-white"></i></button>
								<button class="btn btn-dark active" data-content="1" data-toggle="button" rel="tooltip" data-original-title="Icon View"><i class="icon-th icon-white"></i></button>
								<button class="btn btn-dark" data-content="2" data-toggle="button" rel="tooltip" data-original-title="Cover View"><i class="icon-th-large icon-white"></i></button>
							</div>

							<!--- LIST DISPLAY OPTIONS -->
							<div class="listDisplayOptions displayOptions btn-group" data-toggle="buttons-radio" >
								<button class="btn btn-dark" data-content="0" data-toggle="button" rel="tooltip" data-original-title="List View"><i class="icon-list icon-white"></i></button>
								<button class="btn btn-dark active" data-content="1" data-toggle="button" rel="tooltip" data-original-title="Icon View"><i class="icon-th icon-white"></i></button>
								<button class="btn btn-dark" data-content="2" data-toggle="button" rel="tooltip" data-original-title="Cover View"><i class="icon-th-large icon-white"></i></button>
							</div>


							<!-- SEARCH / LIST TABS -->
							<ul id="finderTabLinks" class="nav nav-tabs">
								<li class="active">
									<a id="searchTabLink" href="#searchTab" data-toggle="tab">Search</a>
								</li>
								<li>
									<a id="listTabLink" href="#listTab" data-toggle="tab">List</a>
								</li>
							</ul>

							<div id="finderTabContent" class="tab-content">

								<!-- search tab content -->
								<div id="searchTab" class="tab-pane active">

									<!-- SEARCH RESULTS -->
									<div id="searchResultsContainer" class="nano">
										<div class="content">
											<table id="searchResults" class="table table-striped">
												<tr>
													<td class="title">
														<div class="noSearchResults">No Results</div>
													</td>
												</tr>
											</table>
										</div>
									</div>

								</div>

								<!-- list tab content -->
								<div id="listTab" class="tab-pane">

									<!-- SEARCH RESULTS -->
									<div id="listResultsContainer" class="nano">
										<div class="content">
											<table id="listResults" class="table table-striped">
												<tbody class="list display-1">
												</tbody>
											</table>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>


				<!-- ITEM DETAIL PANEL -->
				<div id="panel2">
					<div class="header"></div>
					<div class="panel">


						<div id="itemDetailsContainer">

							<!-- PROVIDER TABS -->
							<div id="itemDetails">

								<!-- TAG LIST -->
								<div id="addListContainer">
									<select id="addList" data-placeholder="Add to list:" class="chzn-select list" multiple tabindex="2">
										<option></option>
									</select>
								</div>
								<div id="addListButtons">
									<button id="saveItem_btn" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
									<button id="addItem_btn" class="btn btn-success"><i class="icon-plus icon-white"></i> Add</button>
								</div>

								<div class="clear"></div>

								<!-- PROVIDER TABS -->
								<ul id="detailTab" class="nav nav-tabs">
									<li class="active">
										<a id="amazonTabLink" href="#amazonTab" data-toggle="tab">Amazon</a>
									</li>
									<li>
										<a id="giantBombTabLink" href="#giantBombTab" data-toggle="tab">GiantBomb</a>
									</li>
								</ul>

								<div id="detailTabContent" class="tab-content">
									<div id="amazonTab" class="tab-pane active">
										<table>
											<tbody>
												<tr class="detailTitleBar">
													<td class="itemDetailTitle">
														<h3></h3>
													</td>
													<td class="itemDetailMetascore">
														<a href="" class="metascore" target="_blank" rel="tooltip" data-original-title=""></a>
													</td>
												</tr>
											</tbody>
										</table>

										<a href="#" class="itemDetailThumbnail thumbnail">
											<img src="http://static.t-minuszero.com/images/no_selection_placeholder.png" alt="">
										</a>
									</div>
									<div id="giantBombTab" class="tab-pane">
										<table>
											<tbody>
												<tr class="detailTitleBar">
													<td class="itemDetailTitle">
														<h3></h3>
													</td>
													<td class="itemDetailMetascore">
														<a href="" class="metascore" target="_blank" rel="tooltip" data-original-title=""></a>
													</td>
												</tr>
											</tbody>
										</table>

										<a href="#" class="itemDetailThumbnail thumbnail">
											<img src="http://static.t-minuszero.com/images/no_selection_placeholder.png" alt="">
										</a>
									</div>
								</div>

							</div>


								<ul id="dataTab" class="nav nav-tabs">
									<li class="active">
										<a id="itemInfotabLink" href="#infoTab" data-toggle="tab">Data</a>
									</li>
									<li>
										<a id="customAttributesTabLink" href="#customTab" data-toggle="tab">User Attributes</a>
									</li>
								</ul>


								<div id="dataTabContent" class="tab-content">
									<div id="infoTab" class="tab-pane active">

										<!-- ITEM DATA -->
										<div id="itemAttributes">
											<ul class="nav nav-list">
												<li id="platform"><a href="#"><i class="icon-tag"></i> <span class="data"></span></a></li>
												<li id="releaseDate"><a href="#"><i class="icon-time"></i> <span class="data"></span></a></li>
												<li id="wikipediaPage"><a href="#" target="_blank"><i class="icon-book"></i> Wikipedia Entry</a></li>
												<li id="giantBombPage"><a href="#" target="_blank"><i class="icon-list-alt"></i> GiantBomb Page</a></li>
												<li id="metacriticPage"><a href="#" target="_blank"><i class="icon-eye-open"></i> Metacritic Page</a></li>
												<li id="amazonPriceHeader" class="nav-header">Amazon.com</li>
												<li id="amazonPriceNew"><a href="#" target="_blank"><i class="icon-shopping-cart"></i> New: <span class="data"></span></a></li>
												<li id="amazonPriceUsed"><a href="#" target="_blank"><i class="icon-shopping-cart"></i> Used <span class="data"></span></a></li>
											</ul>
										</div>

									</div>

									<div id="customTab" class="tab-pane">

										<!-- USER ATTRIBUTES -->
										<form class="form-horizontal">
											<fieldset>

												<div class="control-group">
													<label class="control-label">Game Status</label>
													<div class="controls">
														<!-- game status -->
														<div id="gameStatus" class="btn-group">
															<a class="currentSelection btn" href="#" data-initial="0" data-toggle="dropdown">None</a>
															<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
															<ul class="dropdown-menu">
																<li><a href="#" data-content="0">None</a></li>
																<li><a href="#" data-content="1">Own</a></li>
																<li><a href="#" data-content="2">Sold</a></li>
																<li><a href="#" data-content="3">Wanted</a></li>
															</ul>
														</div>
													</div>
												</div>


												<div class="control-group">
													<label class="control-label">Play Status</label>
													<div class="controls">
														<!-- play status -->
														<div id="playStatus" class="btn-group">
															<a class="currentSelection btn" href="#" data-initial="0" data-toggle="dropdown">Not Started</a>
															<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
															<ul class="dropdown-menu">
																<li><a href="#" data-content="0">Not Started</a></li>
																<li><a href="#" data-content="1">Playing</a></li>
																<li><a href="#" data-content="2">Played</a></li>
																<li><a href="#" data-content="3">Finished</a></li>
															</ul>
														</div>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">Rating</label>
													<div class="controls">
														<!-- rating -->
														<div id="userRating" data-initial="0">
															<input type="radio" value="1" title=".5" />
															<input type="radio" value="2" title="1" />
															<input type="radio" value="3" title="1.5" />
															<input type="radio" value="4" title="2" />
															<input type="radio" value="5" title="2.5" />
															<input type="radio" value="6" title="3" />
															<input type="radio" value="7" title="3.5" />
															<input type="radio" value="8" title="4" />
															<input type="radio" value="9" title="4.5" />
															<input type="radio" value="10" title="5" />
														</div>
														<div id="ratingCaption"></div>
													</div>
												</div>

												<div id="saveAttributesContainer" class="form-actions">
													<button id="saveAttributes_btn" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
												</div>
											</fieldset>
										</form>

									</div>
								</div>
						</div>
					</div>
				</div>

				<!-- ITEM VIEW PANEL -->
				<div id="panel3">
					<div class="header"></div>
					<div class="panel">

						<div id="viewItemsContainer">

							<div class="optionsGroup">
								<div id="viewListContainer">
									<select id="viewList" data-placeholder="View list items:" class="chzn-select list" style="width:170px;" tabindex="2">
										<option></option>
									</select>
								</div>

								<!-- filters button -->
								<div class="filterOptions btn-group">
									<button class="listFilters_btn btn btn-success" data-controls-modal="filters-modal" data-backdrop="true" data-keyboard="true"><i class="icon-adjust icon-white"></i> <span class="filterName">List Filters</span></button>
									<button class="filterStatus btn btn-success" rel="tooltip" data-original-title="Clear all Filters"><i class="icon-remove icon-white"></i></button>
									<button class="filterDropDown_btn btn btn-success dropdown-toggle" data-toggle="dropdown" rel="tooltip" data-original-title="Quick Filters"><span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li><a href="#" class="listFilters_btn">Custom</a></li>
										<li class="divider"></li>
										<li><a href="#" data-content="0">Upcoming</a></li>
										<li><a href="#" data-content="1">New Releases</a></li>
										<li class="divider"></li>
										<li><a href="#" data-content="2">Never Played</a></li>
										<li><a href="#" data-content="3">Playing</a></li>
										<li><a href="#" data-content="4">Played</a></li>
										<li><a href="#" data-content="5">Finished </a></li>
										<li class="divider"></li>
										<li><a href="#" data-content="6">Owned</a></li>
										<li><a href="#" data-content="7">Wanted</a></li>
									</ul>
								</div>

								<button id="deleteList_btn" class="btn btn-danger"><i class="icon-remove icon-white"></i> Delete List</button>

								<div class="clear"></div>
							</div>

							<!-- DISPLAY SELECT -->
							<div class="optionsGroup">

								<!-- display options -->
								<div class="displayOptions btn-group" data-toggle="buttons-radio" >
									<button class="btn btn-dark" data-content="0" data-toggle="button" rel="tooltip" data-original-title="List View"><i class="icon-list icon-white"></i></button>
									<button class="btn btn-dark active" data-content="1" data-toggle="button" rel="tooltip" data-original-title="Icon View"><i class="icon-th icon-white"></i></button>
									<button class="btn btn-dark" data-content="2" data-toggle="button" rel="tooltip" data-original-title="Cover View"><i class="icon-th-large icon-white"></i></button>
								</div>

								<!-- SORT OPTIONS -->
								<div class="sortOptions btn-group">
									<button class="currentSort btn" href="#" data-toggle="dropdown">Alphabetical</button>
									<button class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort <span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li><a href="#" data-content="0">Alphabetical</a></li>
										<li><a href="#" data-content="1">Metascore</a></li>
										<li><a href="#" data-content="2">Release Date</a></li>
										<li><a href="#" data-content="3">Platform</a></li>
										<li><a href="#" data-content="4">Price</a></li>
									</ul>
								</div>

								<button id="gridView_btn" class="btn btn-success"><i class="icon-retweet icon-white"></i> Grid View</button>

								<div class="clear"></div>
							</div>

							<!-- ITEM RESULTS -->
							<div id="itemResultsContainer" class="nano">
								<div class="content">
									<table id="itemResults" class="table table-striped">
										<tr>
											<td class="title">
												<div class="noSearchResults">No Items</div>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- GRID VIEW PANEL -->
				<div id="panel4">
					<div class="header"></div>
					<div class="panel">

						<div id="gridViewContainer" class="clearfix">

						</div>
					</div>
				</div>

				<!-- GRID OPTIONS PANEL -->
				<div id="panel5">
					<div class="header"></div>
					<div class="panel">

						<div id="gridViewOptions" class="clearfix">

							<div class="optionsGroup">

								<!-- list -->
								<div id="gridListContainer">
									<select id="gridList" data-placeholder="View list items:" class="chzn-select list" style="width:170px;" tabindex="2">
										<option></option>
									</select>
								</div>

								<!-- display options -->
								<div class="displayOptions btn-group" data-toggle="buttons-radio" >
									<button class="btn btn-dark" data-content="0" data-toggle="button" rel="tooltip" data-original-title="List View"><i class="icon-list icon-white"></i></button>
									<button class="btn btn-dark active" data-content="1" data-toggle="button" rel="tooltip" data-original-title="Icon View"><i class="icon-th icon-white"></i></button>
									<button class="btn btn-dark" data-content="2" data-toggle="button" rel="tooltip" data-original-title="Cover View"><i class="icon-th-large icon-white"></i></button>
									<button class="btn btn-dark" data-content="3" data-toggle="button" rel="tooltip" data-original-title="Data View"><i class="icon-align-left icon-white"></i></button>
								</div>

								<!-- filters button -->
								<div class="filterOptions btn-group">
									<button class="listFilters_btn btn btn-success" data-controls-modal="filters-modal" data-backdrop="true" data-keyboard="true"><i class="icon-adjust icon-white"></i> <span class="filterName">List Filters</span></button>
									<button class="filterStatus btn btn-success" rel="tooltip" data-original-title="Clear all Filters"><i class="icon-remove icon-white"></i></button>
									<button class="filterDropDown_btn btn btn-success dropdown-toggle" data-toggle="dropdown" rel="tooltip" data-original-title="Quick Filters"><span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li><a href="#" class="listFilters_btn">Custom</a></li>
										<li class="divider"></li>
										<li><a href="#" data-content="0">Upcoming</a></li>
										<li><a href="#" data-content="1">New Releases</a></li>
										<li class="divider"></li>
										<li><a href="#" data-content="2">Never Played</a></li>
										<li><a href="#" data-content="3">Playing</a></li>
										<li><a href="#" data-content="4">Played</a></li>
										<li><a href="#" data-content="5">Finished </a></li>
										<li class="divider"></li>
										<li><a href="#" data-content="6">Owned</a></li>
										<li><a href="#" data-content="7">Wanted</a></li>
									</ul>
								</div>

								<!-- SORT OPTIONS -->
								<div class="sortOptions btn-group">
									<button class="currentSort btn" href="#" data-toggle="dropdown">Alphabetical</button>
									<button class="btn dropdown-toggle" data-toggle="dropdown" href="#">Sort <span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li><a href="#" data-content="0">Alphabetical</a></li>
										<li><a href="#" data-content="1">Metascore</a></li>
										<li><a href="#" data-content="2">Release Date</a></li>
										<li><a href="#" data-content="3">Platform</a></li>
										<li><a href="#" data-content="4">Price</a></li>
									</ul>
								</div>

								<button id="exitGridView_btn" class="btn btn-danger"><i class="icon-remove icon-white"></i> Exit Grid View</button>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	    <!-- Templates -->

		<!-- search results -->
		<script type="text/template" id="search-results-template">
			<tbody class="list display-<%= displayType %>">
				<% if(sortedSearchResults.length === 0) { %>
					<tr>
						<td class="title">
							<div class="noSearchResults">No Results</div>
						</td>
					</tr>
				<% } else { %>
					<% _.each(sortedSearchResults, function(item) { %>
						<tr id="<%= item.id %>" data-temp="<%= item.releaseDate %>">
							<td class="smallImage"><img src="<%= item.smallImage %>" alt=""></td>
							<td class="mediumImage"><img src="<%= item.thumbnailImage %>" alt=""></td>
							<td class="title">
								<div class="itemName"><%= item.name %></div>
								<div class="calendarDate"><%= item.calendarDate %></div>
								<% if (item.platform !== 'n/a') { %>
									<div class="platform"><%= item.platform %></div>
								<% } %>
								<div class="platformDropdown">
									<% if (item.platformList) { %>
									<ul class="nav nav-pills">
										<li class="dropdown">
										<a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= item.platformList[0] %><b class="caret"></b></a>
										<ul class="dropdown-menu">
										<% _.each(item.platformList, function(platform, index) { %>
										<li data-content="<%= item.id %>"><a href="#"><%= platform %></a></li>
										<% }); %>
										</ul>
									</ul>
									<% } %>
					   			</div>
					   		</td>
				   		</tr>
			      	<% }); %>
				<% } %>
	      	</tbody>
	    </script>

	    <!-- list results -->
	    <script type="text/template" id="list-results-template">
	   		<% _.each(listResults, function(item) { %>
		   		<tr>
		   			<td class="mediumImage"><img src="<%= item.mediumImage %>" alt=""></td>
		   			<td class="title">
						<div class="itemName"><%= item.name %></div>
						<div class="calendarDate"><%= item.calendarDate %></div>
			   		</td>
		   		</tr>
	      	<% }); %>
	    </script>

	   	<!-- item results -->
	   	<script type="text/template" id="item-results-template">
	   		<tbody class="list display-<%= displayType %>">
				<% if(length === 0) { %>
					<tr>
						<td class="title">
							<div class="noSearchResults">No Items</div>
						</td>
					</tr>
				<% } else { %>
			   		<% _.each(items, function(item, index) { %>
						<tr id="<%= item.id %>" data-content="<%= item.itemID %>">
							<td class="smallImage"><img src="<%= item.smallImage %>" alt=""></td>
							<td class="mediumImage"><img src="<%= item.thumbnailImage %>" alt=""></td>
							<td>
								<div class="itemName"><%= item.name %></div>
								<div class="calendarDate"><%= item.calendarDate %></div>
								<div class="releaseDate"><%= item.releaseDate %></div>
								<div class="platform"><%= item.platform %></div>
								<div class="gameStatus"><%= item.gameStatus %></div>
								<div class="playStatus"><%= item.playStatus %></div>
								<div class="userRating"><%= item.userRating %></div>
							</td>
							<td>
								<div class="extraData">
									<div class="priceDetails"></div>

									<div class="quickAttributes btn-group" data-content="<%= item.id %>">
										<span class="playStatus-<%= item.playStatus %>"><a class="attrPlaying btn btn-mini" href="#" rel="tooltip" data-content="0" data-original-title="Playing"><i class="icon-play"></i></a></span>
										<span class="playStatus-<%= item.playStatus %>"><a class="attrPlayed btn btn-mini" href="#" rel="tooltip" data-content="1" data-original-title="Played"><i class="icon-ok"></i></a></span>
										<span class="playStatus-<%= item.playStatus %>"><a class="attrFinished btn btn-mini" href="#" rel="tooltip" data-content="2" data-original-title="Finished"><i class="icon-stop"></i></a></span>
										<span class=""><a class="attrFavorite btn btn-mini" href="#" rel="tooltip" data-content="3" data-original-title="Favorite"><i class="icon-heart"></i></a></span>
										<span class="gameStatus-<%= item.gameStatus %>"><a class="attrOwned btn btn-mini" href="#" rel="tooltip" data-content="4" data-original-title="Owned"><i class="icon-barcode"></i></a></span>
									</div>
								</div>
							</td>
							<td class="scoreDetails"><a href="" class="metascore" target="_blank" rel="tooltip" data-score="" data-original-title=""></a></td>
							<% if (currentViewTagID !== '0') { %>
								<td class="options"><a href="#" class="deleteItem_btn btn btn-mini" data-content="<%= item.id %>"><i class="icon-remove"></i></a></td>
							<% } %>
						</tr>
			      	<% }); %>
				<% } %>
	      	</tbody>
	   	</script>

	   	<!-- gridview results -->
	   	<script type="text/template" id="grid-results-template">
	   		<% _.each(items, function(item, index) { %>
				<div class="gridItem" data-category="transition" data-content="<%= item.id %>">

					<div class="thumbnail">
						<img src="<%= item.largeImage %>"/ title="<%= item.name %>">
						<div class="itemAttributes caption">
							<ul class="nav nav-list">
								<li class="platform"><i class="icon-tag"></i> <span class="data"><%= item.platform %></span></li>
								<li class="calendarDate"><i class="icon-time"></i> <span class="data"><%= item.calendarDate %></span></li>
								<li class="metascoreDisplay"><a href="http://www.metacritic.com<%= item.metascorePage %>" target="_blank"><i class="icon-eye-open"></i>Metascore: <%= item.displayMetascore %></a></li>
								<li class="price"><a href="<%= item.offers.productURL %>" target="_blank"><i class="icon-shopping-cart"></i> <span class="data">$<%= item.offers.buyNowPrice %></span></a></li>
							</ul>
						</div>
					</div>

					<div class="metacriticScore"><%= item.metascore %></a></div>
					<div class="releaseDate"><%= item.releaseDate %></a></div>
					<div class="rawPrice"><%= item.offers.buyNowRawPrice %></span></div>
					<div class="itemName"><%= item.name %></div>
					<div class="gameStatus"><%= item.gameStatus %></div>
					<div class="playStatus"><%= item.playStatus %></div>
					<div class="userRating"><%= item.userRating %></div>
				</div>
	      	<% }); %>
	   	</script>

	    <!-- platform dropdown -->
	    <script type="text/template" id="search-results-platform-dropdown-template">
			<ul class="nav nav-pills">
				<li class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= platformList[0] %><b class="caret"></b></a>
				<ul class="dropdown-menu">
				<% _.each(platformList, function(item, index) { %>
					<li data-content="<%= gbombID %>"><a href="#"><%= item %></a></li>
				<% }); %>
				</ul>
			</ul>
	    </script>

	   	<!-- dropdown list -->
	   	<script type="text/template" id="tag-results-template">
	   		<% if (viewList) { %>
		   		<optgroup label="System Lists">
	   				<option value="0">View All</option>
	   				<option value="1">Most Popular</option>
	   			</optgroup>
   			<% } %>

   			<optgroup label="User Lists">
	   		<% _.each(orderedList, function(item) { %>
	   			<option value="<%= item.id %>"><%= item.name %></option>
	      	<% }); %>
	      	</optgroup>

	   		<% if (viewList && emptyList.length > 0) { %>
		   		<optgroup label="Empty Lists">
			   		<% _.each(emptyList, function(item) { %>
			   			<option value="<%= item.id %>"><%= item.name %></option>
			      	<% }); %>
	   			</optgroup>
   			<% } %>
	   	</script>

	   	<!-- price menu -->
	   	<script type="text/template" id="price-menu-template">
			<div class="btn-group priceMenu">
			<a class="lowestNew btn btn-small" href="<%= productURL %>" data-price="<%= buyNowRawPrice %>" target="_blank">Amazon: <%= buyNowPrice %></a>
			<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
			<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="<%= offersURLNew %>" data-content="0" target="_blank">Lowest New: <%= lowestNewPrice %></a></li>
				<li><a href="<%= offersURLUsed %>" data-content="1" target="_blank">Lowest Used: <%= lowestUsedPrice %></a></li>
			</ul>
			</div>
	   	</script>

	   	<!-- description modal -->
	   	<script type="text/template" id="description-modal-template">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3><%= itemData.name %></h3>
			</div>
			<div class="modal-body">
				<%=itemData.description %>
			</div>
			<div class="modal-footer">
				<a id="description_close_btn" href="#" class="btn btn-danger" data-dismiss="modal"><i class="icon-remove icon-white"></i> Close</a>
			</div>
	   	</script>



		<!-- JAVASCRIPT LIBRARIES (SPECIFIC ORDER) -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/jquery-ui.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/jquery.nanoscroller.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/jquery.ui.stars.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/jquery.ba-resize.js"></script>

		<script src="http://static.t-minuszero.com/lib/underscore-min.js"></script>
		<script src="http://static.t-minuszero.com/lib/backbone.js"></script>

		<script src="http://static.t-minuszero.com/lib/list.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/chosen.jquery.js"></script>
		<script src="http://static.t-minuszero.com/lib/moment.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/jquery.isotope.min.js"></script>

		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-modal.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-collapse.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-button.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-alert.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-tooltip.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-popover.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-dropdown.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-tab.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-transition.js"></script>

		<!-- APPLICATION -->
		<script src="http://static.t-minuszero.com/js/tmz.js"></script>

		<!-- MODULES -->
		<script src="http://static.t-minuszero.com/js/tmz_util.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_user.js"></script>

		<script src="http://static.t-minuszero.com/js/tmz_listModel.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_filterPanel.js"></script>

		<script src="http://static.t-minuszero.com/js/tmz_siteView.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_searchView.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_detailView.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_itemView.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_gridView.js"></script>

		<script src="http://static.t-minuszero.com/js/tmz_itemData.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_listData.js"></script>

		<script src="http://static.t-minuszero.com/js/tmz_amazon.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_giantbomb.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_metacritic.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_wikipedia.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_gamestats.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_ign.js"></script>

		<script src="http://static.t-minuszero.com/js/tmz_itemLinker.js"></script>
	</body>
</html>
