<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Gamedex</title>
		<meta name="description" content="video game collection">
		<meta name="author" content="Michael Martin">
		<!-- HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- styles -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://static.t-minuszero.com/css/bootstrap.css">
		<link rel="stylesheet" media="screen" href="http://static.t-minuszero.com/css/tmz.css">
		<link rel="stylesheet" href="http://static.t-minuszero.com/css/chosen.css">
		<link rel="stylesheet" href="http://static.t-minuszero.com/css/nanoscroller.css">
		<link rel="stylesheet" href="http://static.t-minuszero.com/css/jquery.ui.stars.min.css">
		<link rel="stylesheet" href="http://static.t-minuszero.com/css/isotope.css">

		<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">

		<link rel="shortcut icon" href="http://static.t-minuszero.com/images/favicon.ico">

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28923926-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>

	</head>
	<body class="infoHeader">

		<!-- ACCOUNT MANAGEMENT MODAL -->
		<div id="accountManagement-modal" class="modal hide">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Account Management</h3>
			</div>
			<div class="modal-body">

				<form class="form-horizontal" action="#">
					<fieldset>
						<div class="control-group">
							<label class="control-label">User Name</label>
							<div class="controls">
								<input class="input" id="userNameUpdateField" type="text" value="">
							</div>
						</div>
						<div class="emailGroup control-group">
							<label class="control-label">E-mail</label>
							<div class="controls">
								<input class="input" id="emailUpdateField" type="text" value="">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">New Password</label>
							<div class="controls">
								<input class="input" id="passwordUpdateField" type="password" value="">
							</div>
						</div>
						<div class="existingPasswordGroup control-group">
							<label class="control-label">Existing Password</label>
							<div class="controls">
								<input class="input" id="passwordField" type="password" value="">
							</div>
						</div>
					</fieldset>
				</form>

				<div class="alert alert-success">
					<strong>Success: </strong> <span class="alertText"></span>
				</div>

				<div class="alert alert-error">
					<strong>Error: </strong> <span class="alertText"></span>
				</div>

			</div>
			<div class="modal-footer">
				<a id="deleteAccount_btn" href="#" class="btn btn-danger">Delete Account</a>
				<a id="clearLocalStorage_btn" href="#" class="btn btn-warning">Clear Storage</a>
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
				<a id="updateAccount_btn" href="#" class="btn btn-primary">Update Account</a>
			</div>
		</div>

		<!-- DELETE LIST CONFIRM MODAL -->
		<div id="deleteListConfirm-modal" class="modal hide">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Confirm Tag Deletion</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-error" style="display: block; ">
					<strong>Warning: </strong> <span class="alertText">All items will be removed from tag.</span>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
				<a id="deleteListConfirm_btn" href="#" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete Tag</a>
			</div>
		</div>

		<!-- VIDEO MODAL -->
		<div id="video-modal" class="modal hide">
			<div class="modal-body">

				<div id="videoPlayerContainer">
					<video id="videoPlayer" class="video-js vjs-default-skin" controls preload="auto" width="870" height="490" poster="" data-setup="{}">
						<source src="" type='video/mp4'>
					</video>
				</div>

				<div id="videoListContainer">

					<div id="videoListNavigation">
						<div class="pageNumber"></div>
						<div class="navigateLeft"></div>
						<div class="navigateRight"></div>
					</div>

					<ul id="videoList" class="display-1 clearfix"></ul>
				</div>
			</div>

			<div class="modal-footer">
				<a href="#" class="btn btn-dark" data-dismiss="modal">Close</a>
			</div>
		</div>

		<!-- UPDATE LIST MODAL -->
		<div id="updateList-modal" class="modal hide">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Edit Tag</h3>
			</div>
			<div class="modal-body">

				<form class="form-horizontal" action="#">
					<fieldset>
						<div class="control-group">
							<label class="control-label">Tag Name</label>
							<div class="controls">
								<input class="input" id="tagNameField" type="text" value="">
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
				<a id="updateListConfirm_btn" href="#" class="btn btn-primary">Update Tag</a>
			</div>
		</div>

		<!-- RESET PASSWORD MODAL -->
		<div id="resetpassword-modal" class="modal hide">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Reset Password</h3>
			</div>
			<div class="modal-body">

				<form class="resetCodeForm form-horizontal" action="#">
					<fieldset>
						<div class="passwordResetEmailContainer control-group">
							<label class="control-label">E-mail Address</label>
							<div class="controls">
								<input class="input" id="resetPasswordEmailField" type="text" value="">
							</div>
						</div>
						<div class="passwordResetCodeContainer control-group">
							<label class="control-label">Password Reset Code</label>
							<div class="controls">
								<input class="input" id="resetPasswordCodeField" type="text" value="">
							</div>
						</div>
					</fieldset>
				</form>

				<form class="updatePasswordForm form-horizontal" action="#">
					<fieldset>
						<div class="control-group">
							<label class="control-label">New Password</label>
							<div class="controls">
								<input class="input" id="resetPasswordPasswordField" type="password" value="">
							</div>
						</div>
					</fieldset>
				</form>

				<div class="alert alert-success">
					<strong class="alertTitle"></strong> <span class="alertText"></span>
				</div>
				<div class="alert alert-error">
					<strong class="alertTitle"></strong> <span class="alertText"></span>
				</div>
			</div>

			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
				<a id="sendResetCode_btn" href="#" class="btn btn-primary">Send Reset Code</a>
				<a id="submitResetCode_btn" href="#" class="btn btn-primary">Submit Reset Code</a>
				<a id="updatePassword_btn" href="#" class="btn btn-primary">Update Password</a>
			</div>
		</div>

		<!-- FILTERS MODAL -->
		<div id="filters-modal" class="modal hide">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>List Filters</h3>
			</div>
			<div class="modal-body">

				<form class="form-horizontal">
				    <fieldset>

						<!-- platform filter -->
						<div class="control-group">
							<label class="control-label">Platform Filter</label>
							<div class="controls">
								<div id="platform_filter">
									<select id="platformFilterList" data-placeholder="Select Platform:" class="chzn-select" multiple style="width:250px;" tabindex="2">
										<optgroup label="Computer">
											<option value="pc">PC</option>
											<option value="mac">Mac</option>
										</optgroup>
										<optgroup label="Microsoft">
											<option value="x360">Xbox 360</option>
										</optgroup>
										<optgroup label="Sony">
											<option value="ps3">PS3</option>
											<option value="vita">Vita</option>
											<option value="psp">PSP</option>
										</optgroup>
										<optgroup label="Nintendo">
											<option value="ds">DS</option>
											<option value="3ds">3DS</option>
											<option value="wii">Wii</option>
										</optgroup>
										<optgroup label="Legacy">
											<option value="ps">Playstation</option>
											<option value="ps2">PlayStation 2</option>
											<option value="xbox">Xbox</option>
											<option value="gc">Gamecube</option>
											<option value="n64">N64</option>
											<option value="snes">SNES</option>
											<option value="nes">NES</option>
											<option value="gba">GBA</option>
											<option value="gbc">Gameboy Color</option>
											<option value="gb">Gameboy</option>
											<option value="dc">Sega Dreamcast</option>
											<option value="saturn">Sega Saturn</option>
											<option value="genesis">Sega Genesis</option>
											<option value="gamegear">Sega GameGear</option>
											<option value="cd">Sega CD</option>
										</optgroup>
									</select>
								</div>
							</div>
						</div>

				    	<!-- release date filter -->
						<div class="control-group">
							<label class="control-label">Release Date Filter</label>
							<div class="controls">
								<div id="releaseDate_filter" data-toggle="buttons-checkbox" class="btn-group">
									<button class="btn" data-content="0">Unreleased</button>
									<button class="btn" data-content="1">Released</button>
								</div>
							</div>
						</div>

						<!-- game status filter -->
						<div class="control-group">
							<label class="control-label">Game Status Filter</label>
							<div class="controls">
								<div id="gameStatus_filter" data-toggle="buttons-checkbox" class="btn-group">
									<button class="btn" data-content="0">None</button>
									<button class="btn" data-content="1">Own</button>
									<button class="btn" data-content="2">Sold</button>
									<button class="btn" data-content="3">Wanted</button>
								</div>
							</div>
						</div>

						<!-- play status filter -->
						<div class="control-group">
							<label class="control-label">Play Status Filter</label>
							<div class="controls">
								<div id="playStatus_filter" data-toggle="buttons-checkbox" class="btn-group">
									<button class="btn" data-content="0">Not Started</button>
									<button class="btn" data-content="1">Playing</button>
									<button class="btn" data-content="2">Played</button>
									<button class="btn" data-content="3">Finished</button>
								</div>
							</div>
						</div>

						<!-- metascore filter -->
						<div class="control-group">
							<label class="control-label">Metascore Filter</label>
							<div class="controls">
								<div id="metascore_filter" data-toggle="buttons-checkbox" class="btn-group">
									<button class="btn" data-content="0">90s</button>
									<button class="btn" data-content="1">80s</button>
									<button class="btn" data-content="2">70s</button>
									<button class="btn" data-content="3">60s</button>
									<button class="btn" data-content="4">50s</button>
									<button class="btn" data-content="5">49-25</button>
									<button class="btn" data-content="6">24-0</button>
								</div>
							</div>
						</div>

					</fieldset>
				</form>

			</div>
			<div class="modal-footer">
				<button id="applyFilters_btn" class="btn btn-primary" data-dismiss="modal">Apply Filters</button>
				<button id="cancelFilters_btn" class="btn" data-dismiss="modal">Cancel</button>
			</div>
		</div>

		<!-- SITE CONTAINER -->
		<div id="wrapper" class="standardView">

			<!-- INFO HEADER -->
			<div id="infoHeader">

				<div class="infoHeaderContent">
					<div id="logo"></div>
					<div id="siteDescription"></div>
					<div id="siteFeatures"></div>
					<div id="siteFeaturesDetail"></div>

					<div id="buttonContainer">
						<div id="loginHitArea"></div>
						<div id="signupHitArea"></div>
						<div id="signupButton"></div>
						<div id="loginButton"></div>
					</div>

					<div id="loginForm">
						<form>
							<div id="email"><input type="text"></div>
							<div id="password"><input type="password"></div>
							<div id="signupSubmitButton"></div>
							<div id="loginSubmitButton"></div>
							<div id="backButton"></div>
							<div id="rememberCheckboxToggle"></div>
							<div id="resetPasswordButton"></div>
							<div id="accountExistsTag"></div>
							<div id="invalidLoginTag"></div>
						</form>
					</div>
				</div>
			</div>

			<!-- APP HEADER -->
			<div id="header" class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">

						<div class="miniLogo"></div>

						<!-- grid view menu bar -->
						<ul id="gridViewMenu" class="nav">

							<!-- view list menu -->
							<li id="gridList" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tag icon-white"></i> <span class="viewName">View All</span> <b class="caret"></b></a>
								<ul class="dropdown-menu">

								</ul>
							</li>

							<!-- filter menu -->
							<li class="filterOptions dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-adjust icon-white"></i> Filter: <Span class="filterType">None</span><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#" data-content="0">Custom</a></li>
									<li class="divider"></li>
									<li class="clearFilters_btn"><a href="#"><i class="icon-remove"></i> Clear Filters</a></li>
									<li class="divider"></li>
									<li><a href="#" data-content="1">Upcoming</a></li>
									<li><a href="#" data-content="2">New Releases</a></li>
									<li class="divider"></li>
									<li><a href="#" data-content="3">Never Played</a></li>
									<li><a href="#" data-content="4">Playing</a></li>
									<li><a href="#" data-content="5">Played</a></li>
									<li><a href="#" data-content="6">Finished </a></li>
									<li class="divider"></li>
									<li><a href="#" data-content="7">Owned</a></li>
									<li><a href="#" data-content="8">Wanted</a></li>
								</ul>
							</li>

							<!-- sort menu -->
							<li class="sortOptions dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-random icon-white"></i> Sort: <span class="sortType">Alphabetical</span><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#" data-content="0">Alphabetical</a></li>
									<li><a href="#" data-content="1">Review Score</a></li>
									<li><a href="#" data-content="2">Release Date</a></li>
									<li><a href="#" data-content="3">Platform</a></li>
									<li><a href="#" data-content="4">Price</a></li>
								</ul>
							</li>

							<!-- display menu -->
							<li class="displayOptions dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-th icon-white"></i> Display: <span class="displayType">Medium</span><b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#" data-content="0">Small</a></li>
									<li><a href="#" data-content="1">Medium</a></li>
									<li><a href="#" data-content="2">Large</a></li>
									<li><a href="#" data-content="3">Info</a></li>
								</ul>
							</li>

							<!-- exit button -->
							<li id="exitGridView_btn"><a href="#"><i class="icon-remove icon-white"></i> Exit Grid View</a></li>
						</ul>

						<!-- RIGHT HEADER -->
						<ul id="userMenu" class="nav pull-right">
							<li class="dropdown">
								<a href="#" id="loggedInButton" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> <span class="userEmail"></span> <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#" id="managementButton"><i class="icon-list-alt"></i> Account Management</a></li>
									<li><a href="#" id="logoutButton"><i class="icon-off"></i> Logout</a></li>
								</ul>
							</li>
						</ul>

					</div>
				</div>
			</div>

			<!-- CONTENT -->
			<div id="content">

				<!-- SEARCH PANEL -->
				<div id="panel1">
					<div class="header"></div>
					<div class="panel">


						<!-- SEARCH CONTAINER -->
						<div id="searchContainer">

							<!-- search view navbar -->
							<div id="searchViewMenu" class="navbar navbar-static clearfix">
								<span class="leftCap"></span>
								<div class="navigationBar">
									<div class="container" style="width: auto;">
										<ul class="nav">

											<!-- search provider menu -->
											<li id="searchProvider" class="dropdown" data-content="0">
												<a href="#" class="providerSelect_btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search icon-white"></i> <span class="providerName">Amazon</span><b class="caret"></b></a>
												<ul class="dropdown-menu">
													<li><a href="#" data-content="0">Amazon</a></li>
													<li><a href="#" data-content="1">GiantBomb</a></li>
												</ul>
											</li>

											<!-- list provider menu -->
											<li id="listProvider" class="dropdown" data-content="1">
												<a href="#" class="providerSelect_btn dropdown-toggle" data-toggle="dropdown"><i class="icon-time icon-white"></i> <span class="providerName">Popular</span><b class="caret"></b></a>
												<ul class="dropdown-menu">
													<li><a href="#" data-content="1"><i class="icon-time"></i> Upcoming</a></li>
													<li><a href="#" data-content="0"><i class="icon-fire"></i> Popular</a></li>
												</ul>
											</li>

											<!-- search platforms -->
											<li id="searchPlatforms" class="dropdown" data-content="1">
												<a href="#" id="platformSelect_btn" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tag icon-white"></i> <span class="platformName">All Platforms</span><b class="caret"></b></a>
												<ul class="dropdown-menu">
													<li><a href="#" data-content="all">All Platforms</a></li>
													<li id="legacySubNav" class="dropdown-sub">
														<a href="#">Legacy Platforms</a>
														<ul class="dropdown-menu">
															<li><a href="#" data-content="ps">Playstation</a></li>
															<li><a href="#" data-content="ps2">Playstation 2</a></li>
															<li><a href="#" data-content="xbox">Xbox</a></li>
															<li><a href="#" data-content="gc">Gamecube</a></li>
															<li><a href="#" data-content="n64">N64</a></li>
															<li><a href="#" data-content="snes">SNES</a></li>
															<li><a href="#" data-content="nes">NES</a></li>
															<li><a href="#" data-content="gba">GBA</a></li>
															<li><a href="#" data-content="gbc">Gameboy Color</a></li>
															<li><a href="#" data-content="gb">Gameboy</a></li>
															<li><a href="#" data-content="dc">Dreamcast</a></li>
															<li><a href="#" data-content="saturn">Saturn</a></li>
															<li><a href="#" data-content="gamegear">GameGear</a></li>
															<li><a href="#" data-content="segacd">SegaCD</a></li>
														</ul>
													</li>
													<li class="divider"></li>
													<li><a href="#" data-content="pc">PC</a></li>
													<li><a href="#" data-content="mac">Mac</a></li>
													<li class="divider"></li>
													<li><a href="#" data-content="x360">Xbox 360</a></li>
													<li class="divider"></li>
													<li><a href="#" data-content="ps3">PS3</a></li>
													<li><a href="#" data-content="vita">Vita</a></li>
													<li><a href="#" data-content="psp">PSP</a></li>
													<li class="divider"></li>
													<li><a href="#" data-content="ds">DS</a></li>
													<li><a href="#" data-content="3ds">3DS</a></li>
													<li><a href="#" data-content="wii">Wii</a></li>
												</ul>
											</li>

											<!-- list platforms -->
											<li id="listPlatforms" class="dropdown" data-content="1">
												<a href="#" class="platformSelect_btn dropdown-toggle" data-toggle="dropdown"><i class="icon-tag icon-white"></i> <span class="platformName">All Platforms</span><b class="caret"></b></a>
												<ul class="dropdown-menu">
													<li><a href="#" data-content="all">All Platforms</a></li>
													<li class="divider"></li>
													<li><a href="#" data-content="pc">PC</a></li>
													<li class="divider"></li>
													<li><a href="#" data-content="x360">Xbox 360</a></li>
													<li><a href="#" data-content="xbl">Xbox Live</a></li>
													<li class="divider"></li>
													<li><a href="#" data-content="ps3">PS3</a></li>
													<li><a href="#" data-content="psn">PSN</a></li>
													<li><a href="#" data-content="vita">Vita</a></li>
													<li class="divider"></li>
													<li><a href="#" data-content="ds">DS</a></li>
													<li><a href="#" data-content="3ds">3DS</a></li>
													<li><a href="#" data-content="wii">Wii</a></li>
												</ul>
											</li>
										</ul>

									</div>
								</div>
								<span class="rightCap"></span>
							</div>

							<!-- SEARCH FIELD -->
							<div id="searchFieldContainer" class="clearfix">
								<div id="searchField" class="input-append">
									<input type="text" value="" placeholder="search for games"><span id="clearSearch_btn" class="add-on"><i class="icon-remove icon-black"></i></span>
								</div>

								<div id="search_btn" class="button"></div>
							</div>

							<!--- SEARCH DISPLAY OPTIONS -->
							<div class="searchDisplayOptions displayOptions btn-group" data-toggle="buttons-radio" >
								<div class="button display1" data-content="0" data-toggle="button" rel="tooltip" data-original-title="List View"></div>
								<div class="button display2 active" data-content="1" data-toggle="button" rel="tooltip" data-original-title="Icon View"></div>
								<div class="button display3" data-content="2" data-toggle="button" rel="tooltip" data-original-title="Cover View"></div>
							</div>

							<!--- LIST DISPLAY OPTIONS -->
							<div class="listDisplayOptions displayOptions btn-group" data-toggle="buttons-radio" >
								<div class="button display1" data-content="0" data-toggle="button" rel="tooltip" data-original-title="List View"></div>
								<div class="button display2 active" data-content="1" data-toggle="button" rel="tooltip" data-original-title="Icon View"></div>
								<div class="button display3" data-content="2" data-toggle="button" rel="tooltip" data-original-title="Cover View"></div>
							</div>

							<!-- SEARCH / LIST TABS -->
							<ul id="finderTabLinks" class="nav nav-tabs">
								<li class="active"><a id="searchTabLink" href="#searchTab" data-toggle="tab">Search</a></li>
								<li><a id="listTabLink" href="#listTab" data-toggle="tab">List</a></li>
							</ul>

							<div class="clear"></div>

							<div id="finderTabContent" class="tab-content">

								<!-- search tab content -->
								<div id="searchTab" class="tab-pane active">

									<!-- SEARCH RESULTS -->
									<div id="searchResultsContainer" class="nano">
										<div class="content">
											<div class="loadingStatus"></div>
											<table id="searchResults" class="table table-striped">
												<tr>
													<td class="title">
														<div class="noResults">No Results</div>
													</td>
												</tr>
											</table>
										</div>
									</div>

								</div>

								<!-- list tab content -->
								<div id="listTab" class="tab-pane">

									<!-- SEARCH RESULTS -->
									<div id="listResultsContainer" class="nano">
										<div class="content">
											<table id="listResults" class="table table-striped">
												<tbody class="list display-1">
												</tbody>
											</table>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>


				<!-- ITEM DETAIL PANEL -->
				<div id="panel2">
					<div class="header"></div>
					<div class="panel">


						<div id="itemDetailsContainer">

							<!-- PROVIDER TABS -->
							<div id="itemDetails">

								<!-- TAG LIST -->
								<div id="addListContainer">
									<select id="addList" data-placeholder="Type a tag name" class="chzn-select list" multiple tabindex="2">
										<option></option>
									</select>
								</div>
								<div id="addListButtons">
									<div id="saveItem_btn" class="button"></div>
									<div id="addItem_btn" class="button"></div>
								</div>

								<div class="clear"></div>

								<!-- PROVIDER TABS -->
								<ul id="detailTab" class="nav nav-tabs">
									<li class="active">
										<a id="amazonTabLink" href="#amazonTab" data-toggle="tab">Amazon</a>
									</li>
									<li>
										<a id="giantBombTabLink" href="#giantBombTab" data-toggle="tab">GiantBomb</a>
									</li>
								</ul>

								<div id="detailTabContent" class="tab-content">
									<div id="amazonTab" class="tab-pane active">
										<div class="detailTitleBar clearfix">
											<div class="itemDetailTitle">
												<span class="leftCap"></span><h3></h3><span class="rightCap"></span>
											</div>
											<div class="itemDetailMetascore">
												<a href="" class="metascore" target="_blank" rel="tooltip" data-original-title=""></a>
											</div>
										</div>

										<a href="#" class="itemDetailThumbnail thumbnail">
											<div class="itemDetailInfo">
												<button class="showVideo_btn btn btn-primary"><i class="icon-film icon-white"></i> <span>Show Videos</span></button>
											</div>
											<img src="http://static.t-minuszero.com/images/no_selection_placeholder.png" alt="">
										</a>
									</div>
									<div id="giantBombTab" class="tab-pane">
										<div class="detailTitleBar clearfix">
											<div class="itemDetailTitle">
												<span class="leftCap"></span><h3></h3><span class="rightCap"></span>
											</div>
											<div class="itemDetailMetascore">
												<a href="" class="metascore" target="_blank" rel="tooltip" data-original-title=""></a>
											</div>
										</div>

										<a href="#" class="itemDetailThumbnail thumbnail">
											<div class="itemDetailInfo">
												<button class="showVideo_btn btn btn-primary"><i class="icon-film icon-white"></i> <span>Show Videos</span></button>
											</div>
											<img src="http://static.t-minuszero.com/images/no_selection_placeholder.png" alt="">
										</a>
									</div>
								</div>

							</div>


								<ul id="dataTab" class="nav nav-tabs">
									<li class="active">
										<a id="itemInfotabLink" href="#infoTab" data-toggle="tab">Data</a>
									</li>
									<li>
										<a id="customAttributesTabLink" href="#customTab" data-toggle="tab">User Attributes</a>
									</li>
								</ul>


								<div id="dataTabContent" class="tab-content">
									<div id="infoTab" class="tab-pane active">

										<!-- ITEM DATA -->
										<div id="itemAttributes">
											<ul class="nav nav-list">
												<li id="platform"><a href="#"><i class="icon-tag"></i> <span class="data"></span></a></li>
												<li id="releaseDate"><a href="#"><i class="icon-time"></i> <span class="data"></span></a></li>
												<li id="wikipediaPage"><a href="#" target="_blank"><i class="icon-book"></i> Wikipedia Entry</a></li>
												<li id="giantBombPage"><a href="#" target="_blank"><i class="icon-list-alt"></i> GiantBomb Page</a></li>
												<li id="metacriticPage"><a href="#" target="_blank"><i class="icon-eye-open"></i> Metacritic Page</a></li>
												<li id="amazonPriceHeader" class="nav-header">Amazon.com</li>
												<li id="amazonPriceNew"><a href="#" target="_blank"><i class="icon-shopping-cart"></i> New: <span class="data"></span></a></li>
												<li id="amazonPriceUsed"><a href="#" target="_blank"><i class="icon-shopping-cart"></i> Used <span class="data"></span></a></li>
											</ul>
										</div>

									</div>

									<div id="customTab" class="tab-pane">

										<!-- USER ATTRIBUTES -->
										<form class="form-horizontal">
											<fieldset>

												<div class="control-group">
													<label class="control-label">Play Status</label>
													<div class="controls">
														<!-- play status -->
														<div id="playStatus" class="btn-group">
															<a class="currentSelection btn" href="#" data-initial="0" data-toggle="dropdown">Not Started</a>
															<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
															<ul class="dropdown-menu">
																<li><a href="#" data-content="0">Not Started</a></li>
																<li><a href="#" data-content="1">Playing</a></li>
																<li><a href="#" data-content="2">Played</a></li>
																<li><a href="#" data-content="3">Finished</a></li>
															</ul>
														</div>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">Game Status</label>
													<div class="controls">
														<!-- game status -->
														<div id="gameStatus" class="btn-group">
															<a class="currentSelection btn" href="#" data-initial="0" data-toggle="dropdown">None</a>
															<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
															<ul class="dropdown-menu">
																<li><a href="#" data-content="0">None</a></li>
																<li><a href="#" data-content="1">Own</a></li>
																<li><a href="#" data-content="2">Sold</a></li>
																<li><a href="#" data-content="3">Wanted</a></li>
															</ul>
														</div>
													</div>
												</div>

												<div class="control-group">
													<label class="control-label">Rating</label>
													<div class="controls">
														<!-- rating -->
														<div id="userRating" data-initial="0">
															<input type="radio" value="1" title=".5" />
															<input type="radio" value="2" title="1" />
															<input type="radio" value="3" title="1.5" />
															<input type="radio" value="4" title="2" />
															<input type="radio" value="5" title="2.5" />
															<input type="radio" value="6" title="3" />
															<input type="radio" value="7" title="3.5" />
															<input type="radio" value="8" title="4" />
															<input type="radio" value="9" title="4.5" />
															<input type="radio" value="10" title="5" />
														</div>
														<div id="ratingCaption"></div>
													</div>
												</div>

												<div id="saveAttributesContainer" class="form-actions">
													<button id="saveAttributes_btn" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
												</div>
											</fieldset>
										</form>

									</div>
								</div>
						</div>
					</div>
				</div>

				<!-- ITEM VIEW PANEL -->
				<div id="panel3">
					<div class="header"></div>
					<div class="panel">

						<div id="viewItemsContainer">

							<!-- item view navbar -->
							<div id="itemViewMenu" class="navbar navbar-static clearfix">
								<span class="leftCap"></span>
								<div class="navigationBar">
									<div class="container" style="width: auto;">
										<ul class="nav">

											<!-- view list menu -->
											<li id="viewList" class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-tag icon-white"></i> <span class="viewName">View All</span> <b class="caret"></b></a>
												<ul class="dropdown-menu">
													<li><a href="#">Empty</a></li>
												</ul>
											</li>

											<!-- filter menu -->
											<li class="filterOptions dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-adjust icon-white"></i> Filter: <Span class="filterType">None</span><b class="caret"></b></a>
												<ul class="dropdown-menu">
													<li><a href="#" data-content="0">Custom</a></li>
													<li class="divider"></li>
													<li class="clearFilters_btn"><a href="#"><i class="icon-remove"></i> Clear Filters</a></li>
													<li class="divider"></li>
													<li><a href="#" data-content="1">Upcoming</a></li>
													<li><a href="#" data-content="2">New Releases</a></li>
													<li class="divider"></li>
													<li><a href="#" data-content="3">Never Played</a></li>
													<li><a href="#" data-content="4">Playing</a></li>
													<li><a href="#" data-content="5">Played</a></li>
													<li><a href="#" data-content="6">Finished </a></li>
													<li class="divider"></li>
													<li><a href="#" data-content="7">Owned</a></li>
													<li><a href="#" data-content="8">Wanted</a></li>
												</ul>
											</li>

											<!-- sort menu -->
											<li class="sortOptions dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-random icon-white"></i> Sort: <span class="sortType">Alphabetical</span><b class="caret"></b></a>
												<ul class="dropdown-menu">
													<li><a href="#" data-content="0">Alphabetical</a></li>
													<li><a href="#" data-content="1">Review Score</a></li>
													<li><a href="#" data-content="2">Release Date</a></li>
													<li><a href="#" data-content="3">Platform</a></li>
													<li><a href="#" data-content="4">Price</a></li>
												</ul>
											</li>
										</ul>

										<!-- edit menu -->
										<ul id="editMenu" class="nav pull-right">
											<li id="fat-menu" class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-white"></i> Edit <b class="caret"></b></a>
												<ul class="dropdown-menu">
													<li id="deleteList_btn"><a href="#">Delete List: <span class="listName"></span></a></li>
													<li id="editList_btn"><a href="#">Edit List Name</a></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<span class="rightCap"></span>
							</div>

							<!-- DISPLAY SELECT -->
							<div class="optionsGroup">

								<!-- display options -->
								<div class="displayOptions btn-group" data-toggle="buttons-radio" >
									<div class="button display1" data-content="0" data-toggle="button" rel="tooltip" data-original-title="List View"></div>
									<div class="button display2 active" data-content="1" data-toggle="button" rel="tooltip" data-original-title="Icon View"></div>
									<div class="button display3" data-content="2" data-toggle="button" rel="tooltip" data-original-title="Cover View"></div>
								</div>

								<div id="gridView_btn" class="button"></div>

								<div class="clear"></div>
							</div>

							<!-- ITEM RESULTS -->
							<div id="itemResultsContainer" class="nano">
								<div class="content">
									<div class="loadingStatus"></div>
									<table id="itemResults" class="table table-striped"></table>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- GRID VIEW PANEL -->
				<div id="panel4">
					<div class="header"></div>
					<div class="panel">

						<div id="gridViewContainer" class="clearfix">

						</div>
					</div>
				</div>

			</div>
		</div>

	    <!-- Templates -->

		<!-- search results -->
		<script type="text/template" id="search-results-template">
			<tbody class="list display-<%= displayType %>">
				<% if(sortedSearchResults.length === 0) { %>
					<tr>
						<td class="title">
							<div class="noResults">No Results</div>
						</td>
					</tr>
				<% } else { %>
					<% _.each(sortedSearchResults, function(item) { %>
						<tr id="<%= item.id %>" data-temp="<%= item.releaseDate %>">
							<td class="smallImage"><img src="<%= item.smallImage %>" alt=""></td>
							<td class="mediumImage"><img src="<%= item.thumbnailImage %>" alt=""></td>
							<td class="title">
								<div class="itemName"><%= item.name %></div>
								<div class="calendarDate"><%= item.calendarDate %></div>
								<% if (item.platform !== 'n/a') { %>
									<div class="platform"><%= item.platform %></div>
								<% } %>
								<div class="platformDropdown">
									<% if (item.platformList) { %>
									<ul class="nav nav-pills">
										<li class="dropdown">
										<a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= item.platformList[0] %><b class="caret"></b></a>
										<ul class="dropdown-menu">
										<% _.each(item.platformList, function(platform, index) { %>
										<li data-content="<%= item.id %>"><a href="#"><%= platform %></a></li>
										<% }); %>
										</ul>
									</ul>
									<% } %>
					   			</div>
					   		</td>
				   		</tr>
			      	<% }); %>
				<% } %>
	      	</tbody>
	    </script>

		<!-- video results -->
		<script type="text/template" id="video-results-template">
			<% _.each(videoResults, function(item, index) { %>
				<li class="videoItem smallImage" data-id="<%= index %>">
					<a href="#" rel="popover" data-content="Publish Date: <%= item.publishDate %> Length: <%= item.runningTime %>" data-original-title="<%= item.deck %>">
						<img src="<%= item.image.small_url %>" alt="">
					</a>
				</li>
				<li class="videoItem mediumImage" data-id="<%= index %>">
					<a href="#" rel="popover" data-content="Date: <strong><%= item.publishDate %></strong> <br/> Length: <strong><%= item.runningTime %></strong>" data-original-title="<%= item.deck %>">
						<img src="<%= item.image.thumb_url %>" alt="">
					</a>
				</li>
	      	<% }); %>
	    </script>

	    <!-- list results -->
	    <script type="text/template" id="list-results-template">
	   		<% _.each(listResults, function(item) { %>
		   		<tr>
		   			<td class="mediumImage"><img src="<%= item.mediumImage %>" alt=""></td>
		   			<td class="title">
						<div class="itemName"><%= item.name %></div>
						<div class="calendarDate"><%= item.calendarDate %></div>
			   		</td>
		   		</tr>
	      	<% }); %>
	    </script>

	   	<!-- item results -->
	   	<script type="text/template" id="item-results-template">
	   		<tbody class="list display-<%= displayType %>">
				<% if(length === 0) { %>
					<tr>
						<td class="title">
							<div class="noResults">No Items</div>
						</td>
					</tr>
				<% } else { %>
			   		<% _.each(items, function(item, index) { %>
						<tr id="<%= item.id %>" data-content="<%= item.itemID %>">
							<td class="smallImage"><img src="<%= item.smallImage %>" alt=""></td>
							<td class="mediumImage"><img src="<%= item.thumbnailImage %>" alt=""></td>
							<td>
								<div class="itemName"><%= item.name %></div>
								<div class="calendarDate"><%= item.calendarDate %></div>
								<div class="releaseDate"><%= item.releaseDate %></div>
								<div class="platform"><%= item.platform %></div>
								<div class="gameStatus"><%= item.gameStatus %></div>
								<div class="playStatus"><%= item.playStatus %></div>
								<div class="userRating"><%= item.userRating %></div>
							</td>
							<td>
								<div class="extraData">
									<div class="priceDetails"></div>

									<div class="quickAttributes" data-content="<%= item.id %>">
										<span class="playStatus-<%= item.playStatus %>"><a class="attrPlaying" href="#" rel="tooltip" data-content="0" data-original-title="Playing"></a></span>
										<span class="playStatus-<%= item.playStatus %>"><a class="attrPlayed" href="#" rel="tooltip" data-content="1" data-original-title="Played"></a></span>
										<span class="playStatus-<%= item.playStatus %>"><a class="attrFinished" href="#" rel="tooltip" data-content="2" data-original-title="Finished"></a></span>
										<span class="rating-<%= item.userRating %>"><a class="attrFavorite" href="#" rel="tooltip" data-content="3" data-original-title="Favorite"></a></span>
										<span class="gameStatus-<%= item.gameStatus %>"><a class="attrOwned" href="#" rel="tooltip" data-content="4" data-original-title="Owned"></a></span>
									</div>
								</div>
							</td>
							<td class="scoreDetails"><a href="#" class="metascore" target="_blank" rel="tooltip" data-score="" data-original-title=""></a></td>
							<% if (currentViewTagID !== '0') { %>
								<td class="options"><a href="#" class="deleteItem_btn" data-content="<%= item.id %>"></a></td>
							<% } %>
						</tr>
			      	<% }); %>
				<% } %>
	      	</tbody>
	   	</script>

	   	<!-- gridview results -->
	   	<script type="text/template" id="grid-results-template">
	   		<% _.each(items, function(item, index) { %>
				<div class="gridItem" data-category="transition" data-content="<%= item.id %>">

					<div class="thumbnail">
						<img src="<%= item.largeImage %>"></img>
						<div class="itemAttributes caption">
							<ul class="nav nav-list">
								<li class="platform"><i class="icon-tag"></i> <span class="data"><%= item.platform %></span></li>
								<li class="calendarDate"><i class="icon-time"></i> <span class="data"><%= item.calendarDate %></span></li>
								<li class="metascoreDisplay"><a href="http://www.metacritic.com<%= item.metascorePage %>" target="_blank"><i class="icon-eye-open"></i>Metascore: <%= item.displayMetascore %></a></li>
								<% if (typeof item.offers.buyNowPrice !== 'undefined' && item.offers.buyNowPrice !== '') { %>
								<li class="price"><a href="<%= item.offers.productURL %>" target="_blank"><i class="icon-shopping-cart"></i> <span class="data">$<%= item.offers.buyNowPrice %></span></a></li>
								<% } %>
							</ul>
						</div>
					</div>

					<div class="metacriticScore"><%= item.metascore %></a></div>
					<div class="releaseDate"><%= item.releaseDate %></a></div>
					<div class="rawPrice"><%= item.offers.buyNowPrice %></span></div>
					<div class="itemName"><%= item.name %></div>
					<div class="gameStatus"><%= item.gameStatus %></div>
					<div class="playStatus"><%= item.playStatus %></div>
					<div class="userRating"><%= item.userRating %></div>
				</div>
	      	<% }); %>
	   	</script>

	    <!-- platform dropdown -->
	    <script type="text/template" id="search-results-platform-dropdown-template">
			<ul class="nav nav-pills">
				<li class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= platformList[0] %><b class="caret"></b></a>
				<ul class="dropdown-menu">
				<% _.each(platformList, function(item, index) { %>
					<li data-content="<%= gbombID %>"><a href="#"><%= item %></a></li>
				<% }); %>
				</ul>
			</ul>
	    </script>

	   	<!-- view list dropdown -->
	   	<script type="text/template" id="view-list-template">
			<li><a href="#" data-content="0">View All</a></li>
			<% if (orderedList.length > 0) { %>
			<li class="divider"></li>
	   		<% _.each(orderedList, function(item) { %>
   				<li><a href="#" data-content="<%= item.id %>"><%= item.name %></a></li>
	      	<% }); %>
	      	<% } %>
	   		<% if (emptyList.length > 0) { %>
      		<li class="divider"></li>
				<% _.each(emptyList, function(item) { %>
					<li><a href="#" data-content="<%= item.id %>"><%= item.name %></a></li>
				<% }); %>
   			<% } %>
	   	</script>

	   	<!-- add list dropdown -->
	   	<script type="text/template" id="add-list-template">
   			<optgroup label="User Lists">
	   		<% _.each(orderedList, function(item) { %>
	   			<option value="<%= item.id %>"><%= item.name %></option>
	      	<% }); %>
	      	</optgroup>
	   	</script>

	   	<!-- price menu -->
	   	<script type="text/template" id="price-menu-template">
			<div class="priceMenu">
				<a class="priceButton lowestNew" href="<%= productURL %>" data-price="<%= buyNowPrice %>" target="_blank"><span class="priceSource">Amazon:</span> <span class="priceValue"><%= buyNowPrice %></span></a>
				<a class="priceToggle" data-toggle="dropdown" href="#"></a>
				<ul class="dropdown-menu">
					<li><a href="<%= offersURLNew %>" data-content="0" target="_blank"><span class="priceDesc">Lowest New:</span> <%= lowestNewPrice %></a></li>

					<% if (lowestUsedPrice !== '') { %>
					<li><a href="<%= offersURLUsed %>" data-content="1" target="_blank"><span class="priceDesc">Lowest Used:</span> <%= lowestUsedPrice %></a></li>
					<% } %>
				</ul>
			</div>
	   	</script>

	   	<!-- description modal -->
	   	<script type="text/template" id="description-modal-template">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3><%= itemData.name %></h3>
			</div>
			<div class="modal-body">
				<%=itemData.description %>
			</div>
			<div class="modal-footer">
				<a id="description_close_btn" href="#" class="btn btn-danger" data-dismiss="modal"><i class="icon-remove icon-white"></i> Close</a>
			</div>
	   	</script>


		<!-- JAVASCRIPT LIBRARIES (SPECIFIC ORDER) -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/jquery-ui.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/jquery.nanoscroller.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/jquery.ui.stars.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/jquery.ba-resize.js"></script>

		<script src="http://static.t-minuszero.com/lib/underscore-min.js"></script>

		<script src="http://static.t-minuszero.com/lib/video.min.js"></script>

		<script src="http://static.t-minuszero.com/lib/list.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/chosen.jquery.js"></script>
		<script src="http://static.t-minuszero.com/lib/moment.min.js"></script>
		<script src="http://static.t-minuszero.com/lib/jquery.isotope.min.js"></script>

		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-modal.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-collapse.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-button.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-alert.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-tooltip.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-popover.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-dropdown.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-tab.js"></script>
		<script src="http://static.t-minuszero.com/lib/bootstrap/bootstrap-transition.js"></script>

		<!-- APPLICATION -->
		<script src="http://static.t-minuszero.com/js/tmz.js"></script>

		<!-- MODULES -->
		<script src="http://static.t-minuszero.com/js/tmz_util.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_user.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_storage.js"></script>

		<script src="http://static.t-minuszero.com/js/tmz_itemData.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_tagData.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_itemCache.js"></script>

		<script src="http://static.t-minuszero.com/js/tmz_siteView.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_searchView.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_detailView.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_itemView.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_gridView.js"></script>

		<script src="http://static.t-minuszero.com/js/tmz_tagView.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_filterPanel.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_videoPanel.js"></script>

		<script src="http://static.t-minuszero.com/js/tmz_amazon.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_giantbomb.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_metacritic.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_wikipedia.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_gamestats.js"></script>
		<script src="http://static.t-minuszero.com/js/tmz_ign.js"></script>

		<script src="http://static.t-minuszero.com/js/tmz_itemLinker.js"></script>
	</body>
</html>
